
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Merhabalar Hocam</h2>

<p>Sayfa şuanda geliştirme aşamasındadır. İçerikler ekleniyor ve veri tabanından veriler entegre ediliyor. Bu görüntü kısıtlı bir arayüz görüntüsüdür </p>

@section scripts{
    <script>
        $("#menu form ul li").each(function () {
            $(this).removeClass("current_page_item");
        });
        $("#menu form ul li:nth-child(1)").addClass("current_page_item");
    </script>
}